:root {
    --dark-blue: #1F2937;
    --secondary-white: #E5E7EB;
}

* {
    /* border: solid red .1px; */
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/*header*/

.header {  
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    color: #E5E7EB;
    background-color: var(--dark-blue);

    box-sizing: border-box;
}

.header .company-name{
    font-size: 24px;
    font-weight: 900;
}

.link-wrapper {
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.link-wrapper a{
    color: var(--secondary-white);
}


/*hero banner*/

.hero-banner {
    height: 300px;
    background-color: var(--dark-blue);

    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 80px;
}

.hero-banner .hero-left{
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

.hero-banner .hero-right{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4)
}

.hero-right .placeholder {
    color: var(--secondary-white);
    background-color: rgb(132, 132, 132);

    flex: 1;             /* Tells it to fill the parent container */
    display: flex;       /* Allows you to center the text inside */
    align-items: center; 
    justify-content: center;
}

.hero-banner h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-banner .description{
    color: var(--secondary-white);
}

.hero-banner button{
    background-color: #3882F6;
    color: var(--secondary-white);
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    font-size: 15px;
    border: 3px solid #3882F6;
}




/*second banner*/

.list-banner h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
    padding: 40px;
}

.list-banner {
    min-height: 450px;
}

.list-banner .container{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 0 70px;
}

.list-banner .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 8px;
    padding: 20px
}

.list-banner .image-box {
    height: 150px;
    width: 150px;
    display: flex;
    border-radius: 10px;
    border: 3px solid #3882F6;

    background-color: --secondary-white
}

.list-banner .card-text {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #1F2937;
}


/* Quote section */

.quote-section {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
}

.credit {
    font-weight: bold;
    font-size: 22px;
    align-self: flex-end;
    color: #1F2937;
}

/* CTA section */

.cta-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882F6;
    width: 600px;
    padding: 30px;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-container .left{
    display: flex;
    flex-direction: column;
    gap: 4px
}

.cta-title {
    font-weight: bold;
    color: var(--secondary-white);
    font-size: 22px;
}

.cta-description {
    color: var(--secondary-white);
    font-size: 16px;
}

.cta-section button{
    background-color: #3882F6;
    color: var(--secondary-white);
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid var(--secondary-white);
}

/* Footer */

footer {
    height: 70px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: var(--secondary-white)
}