* {
    /*border: 1px solid red*/
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1F2937;
}

a {
    text-decoration: none;
}

.header {  
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    color: #E5E7EB;
}

.header .company-name{
    font-size: 24px;
    font-weight: 900;
}

.link-wrapper {
    display: flex;
    gap: 20px;
    font-size: 18px;;
}

.link-wrapper a{
    color: #E5E7EB;
}