:root {
    --dark-blue: #1F2937;
    --secondary-white: #E5E7EB;
}

* {
    border: 0.1px solid red
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.header {  
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    color: #E5E7EB;
    background-color: var(--dark-blue);

    box-sizing: border-box;
}

.header .company-name{
    font-size: 24px;
    font-weight: 900;
}

.link-wrapper {
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.link-wrapper a{
    color: var(--secondary-white);
}

.hero-banner {
    height: 300px;
    background-color: var(--dark-blue);

    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.hero-banner .hero-left{
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

.hero-banner .hero-right{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

}

.hero-right .placeholder {
    color: var(--secondary-white);
    background-color: rgb(132, 132, 132);

    flex: 1;             /* Tells it to fill the parent container */
    display: flex;       /* Allows you to center the text inside */
    align-items: center; 
    justify-content: center;
}

.hero-banner h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-banner .description{
    color: var(--secondary-white);
}

.hero-banner button{
    background-color: #3882F6;
    color: var(--secondary-white);
    padding: 5px 20px 5px 20px;
    border-radius: 5%;
    font-size: 15px;
    
}